<h1>Jason Calculator</h1>
<p>
  <%= sprintf('今日は%s年%s月%s日です', @today.year, @today.month, @today.day) %>
</p>
<h3>
  <% if @today.mday == 13 && @today.friday? %>
    <%= '今日は13日の金曜日です！'%>
  <% end %>
</h3>
<p>
  3桁までの半角数字を入力してください。
  13日の金曜日がいつかを計算します。
<div>
  <form method="post" action="/result">
  <input required type="text" name="number" maxlength="3" pattern="^\d+$">
  <input type="submit" value="計算する">
</div>
