<h1>Jason's Calculator</h1>
<% until @user_num.to_i == @count do %>
  <% until @today.mday == 13 && @today.friday? %>
    <% @today += 1 %>
  <% end %>
  <% @count += 1 %>
  <% break @user_num.to_i == @count %>
  <% @today += 1 %>
<% end %>
<p>
    今日から<%= @user_num %>回目の13日の金曜日は……
</p>
<p>
  <%= sprintf('%s年%s月%s日です', @today.year, @today.month, @today.day) %>
</p>
