<div>
  <!--<% until @user_num == @count do %>-->
  <!--  <% until @today.wday == 5 && @today.mday == 13 %>-->
  <!--    <% @today += 1 %>-->
  <!--  <% end %>-->
  <!--  <% @count += 1 %>-->
  <!--  <% break if @user_num == @count %>-->
  <!--  <% @today += 1 %>-->
  <!--<% end %>-->
  <h2>結果は<%= @user_num %>です</h2>
</div>