<div>
  <% until @user_num.to_i == @count do %>
    <% until @today.mday == 13 && @today.friday? %>
      <% @today += 1 %>
    <% end %>
    <% @count += 1 %>
    <% break @user_num.to_i == @count %>
    <% @today += 1 %>
  <% end %>
</div>
<div>
  <h2>結果は<%= @today %>です</h2>
</div>