body {
  font-size: 18px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 400px;
  margin: 20px auto;
}

h1 {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
}

h3 {
  color: red;
}